body {
  background-color: #3e7a6b;
}
.wrap-text {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: center;
}
.text {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
}
.text:hover {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  border-bottom: 3px white solid;
}
